*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main{
    background: #4b4b4b;
    color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width: 370px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(167deg, rgba(2,0,36,0.8240546218487395) 0%, rgba(42,235,162,0.5411414565826331) 48%, rgba(0,212,255,0.7036064425770308) 100%);
    padding: 20px 15px;
    border-radius: 10px;
}
.searchSection{
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
}
.searchSection input{
    border: 0;
    outline: 0;
    background: white;
    color: black;
    padding: 7px 17px;
    height: 40px;
    border-radius: 20px;
    flex: 1;
    font-size: 18px;
}
.btn img{
    width: 20px;
}
.btn {
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.midSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.midImg{
    width: 180px;
}
.temparature{
    font-size: 40px;
    margin-bottom: 10px;
}

.location{
    font-size: 45px;
}
.bottomSection{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.bottomLeft,.bottomRight{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.bottomLeft img,.bottomRight img{
    width: 40px;
}
.humidity ,.wind{
    font-size: 23px;
}
.humTitale,.windTitale{
    font-size: 15px;
    color: #292929;
}
.error{
    display: none;
}